<div *ngIf="dashboard">
  <h1>Welcome, {{ dashboard.name }}!</h1>
  <form>
    <mat-form-field>
      <input
        (change)="setUserPassword(newPassword.value); newPassword.value = ''"
        #newPassword
        matInput
        name="new-password"
        type="text"
      />
      <mat-label>New password</mat-label>
    </mat-form-field>
    <button (click)="logoutUser()" mat-button type="button">Logout</button>
    <button (click)="refreshUserSession()" mat-button type="button">
      Refresh
    </button>
    <button (click)="sendMessage()" mat-button type="button">
      Send message
    </button>
  </form>
</div>
